/* .container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.vertLine {
    font-weight:bold;
    padding-left:15px; 
    border-left: 5px solid red;
  }

.img>a>img{
 width: 100%;
 margin-bottom: 3rem;  
 border: 1px solid rgb(131, 131, 131);
 border-radius: 5px;
}

.directorWord p{
    font-family:"Open sans", sans-serif ;
    color: #444444;
    text-align: justify;
} */