.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.vertLine {
    border-left: 5px solid red;
    height: 30px;
    margin-right: 3px;
    top: 0;
    padding-right: 4px;
  }

  .rules p{
    text-align: justify;
    font-family: "open sans", sans-serif;
    color: #444444;
  }